.App {
  margin: auto;
  text-align: center;
  border: 1px solid lightgray;
  border-radius: 10px;
  box-shadow: 0 0 10px lightgray;
  width: calc(250px + 10vw);
  padding: calc(10px + 1vw);
  color: #2c3e50;
}

.App-logo {
  position: relative;
  width: 80px;
  margin-top: -100px;
  top: 40px;
  left: calc(-120px - 2.5vw);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.dog-img {
  width: calc(180px + 10vw);
}

.cart {
  border: 1px solid lightgray;
  border-radius: 3px;
  width: calc(180px + 10vw);
  margin: auto;
  margin-bottom: 5vh;
}
.item {
  border: 1px solid lightgray;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.item h3,
h4,
h5,
h6 {
  margin: 0;
}
.item h6 {
  font-weight: 200;
  text-align: center;
}

.item h5 {
  padding-right: 1vw;
}

.previewImg {
  height: 15vh;
}
