<!DOCTYPE html>
<html>

<%- include('./common/head.ejs', {title:'Party.com | Cart'}) %>

<body>
    <%- include('./common/navigation.ejs',{active:'cart'}) %>
    <div class="bloc">
        <%- react_app_2 %>
    </div>
</body>

</html>