<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Micro-frontends SSR w/ Redux</title>
</head>

<body>
    <h1>Micro-frontends using Server Side Rendering <br /> & a Redux Store</h1>
</body>

</html>