<!DOCTYPE html>
<html>

<%- include('./common/head.ejs', {title:'Party.com | Home'}) %>

<body>
  <%- include('./common/navigation.ejs', {active:'home'}) %>
  <div class="bloc">
    <%- react_app_1 %>
  </div>
</body>

</html>