<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Micro-frontends w/ Express-EJS</title>
  <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
  <div class="bloc">
    <%- react_app %>
  </div>
  <div class="bloc">
    <%- vue_app %>
  </div>
</body>

</html>