body {
  font-family: sans-serif;
  background-color: rgb(243, 243, 243);
}

header {
  text-align: center;
  background-color: white;
  border: 1px solid lightgray;
  box-shadow: 0 0 10px lightgray;
  padding-top: 50px;
  border-radius: 5px;
}

.micro-frontends {
  margin-top: 10px;
}

ul {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  padding-left: 0;
}

ul li {
  width: calc(300px + 15vw);
  padding: 0 10px;
}

.link {
  display: block;
  color: black;
  text-decoration: none;
  width: calc(300px + 15vw);
  padding: 10px;
}

.link-active {
  border-bottom: 2px solid #f1b309;
}

@media screen and (max-width: 400px) {
  ul li {
    width: 200px;
  }
  .link {
    width: 200px;
  }
}
