<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Microfrontends w/ Express-EJS</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div class="bloc">
      <%- react1 %>
    </div>
    <div class="bloc">
      <%- react2 %>
    </div>
    <div class="bloc">
      <%- react3 %>
    </div>
  </body>
</html>
