body {
  font-family: sans-serif;
}

.customElement {
  text-align: center;
  margin: auto;
  border: 1px solid lightgray;
  border-radius: 10px;
  box-shadow: 0 0 10px lightgray;
  background-color: white;
}
