div {
  text-align: center;
}

img {
  height: 200px;
}

section {
  background-color: #282c34;
  padding: 2vh;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
  flex-direction: column;
}
