body {
  margin: 0;
  font-family: sans-serif;
}

.flex {
  display: flex;
  align-items: center;
}

.button-blue {
  color: #282c34;
  background-color: #61dafb;
  border: none;
  border-radius: 100px;
  min-width: calc(80px + 2vw);
  padding: 8px 0 8px 0;
  box-shadow: 0 2px 3px rgba(194, 193, 193, 0.561);
  outline: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
}

.button-green {
  color: white;
  background-color: #1e8574;
  border: none;
  border-radius: 100px;
  min-width: calc(80px + 2vw);
  padding: 8px 0 8px 0;
  box-shadow: 0 2px 3px rgba(194, 193, 193, 0.561);
  outline: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
}
