body {
  margin: 0;
  width: 90vw;
  margin: auto;
}

header {
  text-align: center;
  padding: 1% 0 1% 0;
  background-color: white;
  box-shadow: 0 1px 0 lightgray;
  z-index: 1000;
}

h1,
p,
nav {
  margin: 0;
  font-family: sans-serif;
}

nav {
  display: flex;
  justify-content: space-evenly;
  padding-top: 1%;
}

.btn {
  text-align: center;
  padding: 1vh;
  margin: 1vh;
  width: 10vw;
  box-shadow: 0 1px 0 lightgrey;
}

.btn:hover {
  box-shadow: 0 3px 0 rgb(68, 151, 219);
  cursor: pointer;
}

iframe {
  border: 1px solid lightgrey;
}

.container {
  display: flex;
  padding-top: 2vh;
  width: 90vw;
  height: 85vh;
}

#ng-container {
  height: 100%;
  width: 25vw;
}

#react-container {
  height: 60vh;
  width: 65vw;
}
#vue-container {
  height: 25vh;
  width: 65vw;
}
