body {
  margin: 0;
  width: 90vw;
  margin: auto;
}

header {
  text-align: center;
  padding: 1% 0 1% 0;
  background-color: white;
  box-shadow: 0 1px 0 lightgray;
  z-index: 1000;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

#input {
  width: 15vw;
  height: 3vh;
  border: 1px solid lightgray;
  border-radius: 20px;
  padding-left: 1vw;
}
#input:focus {
  border: 2px solid gray;
  outline: none;
}

.btn {
  height: 2vh;
  margin-left: -35px;
  border-radius: 50%;
  border: none;
  outline: none;
}

h1,
h3 {
  margin: 0;
  font-family: sans-serif;
}

code p {
  margin: 1vh;
  font-family: monospace;
}

a {
  position: absolute;
  top: 5vh;
  right: 5vw;
}

iframe {
  border: 1px solid lightgrey;
}

.container {
  display: flex;
  justify-content: space-between;
  padding-top: 2vh;
  width: 90vw;
}

#ng-container {
  height: 85vh;
  width: 25vw;
}

#react-container {
  height: 65vh;
  width: 65vw;
}
#vue-container {
  height: 20vh;
  width: 65vw;
  margin-top: -6px;
}

.com-container {
  width: 29vw;
  height: 40vh;
  border-radius: 5px;
}

#ng-app {
  border: 2px dashed rgb(198, 13, 13);
}

#react-app {
  border: 2px dashed rgb(9, 133, 228);
}

#vue-app {
  border: 2px dashed rgb(8, 108, 8);
}

.console {
  width: 40vw;
  max-height: 40vh;
  overflow: scroll;
  margin: 2vh auto 0 auto;
  padding: 1vh 1vw 1vh 1vw;
  border: 1px solid lightgray;
  border-radius: 5px;
}

.console h3 {
  border-bottom: 1px solid lightgray;
}
