.firstApp {
  color: darkcyan;
  border: 2px dashed darkcyan;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  color: white;
  background-color: darkcyan;
  box-shadow: 0 0 10px lightgray;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
  outline: none;
  height: 30px;
  margin-right: 10px;
}
.btn:hover {
  cursor: pointer;
  background-color: rgb(1, 155, 155);
}
.clear {
  background-color: gray;
}
