<section>
  <img
    src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/1200px-Angular_full_color_logo.svg.png"
    alt="Angular logo"
    id="angular-img"
  />
  <h2>Products list</h2>
  <ul class="flex">
    <li
      class="productBox"
      *ngFor="let product of productList"
      id="product-{{ product.id }}"
      (click)="handleClick(product)"
    >
      <img
        src="{{ product.imgURL }}"
        class="previewImg"
        alt="{{ product.name }}"
      />

      <h4>{{ product.name }}</h4>
      <h6>{{ product.tags }}</h6>
      <h5>{{ product.price }}</h5>
    </li>
  </ul>
</section>
