<section>
  <div>
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/1200px-Angular_full_color_logo.svg.png"
      alt="Angular logo"
    />
  </div>
  <h2>First Angular Micro-frontend</h2>
  <h3>Products list</h3>

  <ul class="flex">
    <li
      class="productBox"
      *ngFor="let product of productList"
      id="product-{{ product.id }}"
      (click)="handleClick(product)"
    >
      <img
        src="{{ product.imgURL }}"
        class="previewImg"
        alt="{{ product.name }}"
      />
      <div class="flex detail">
        <h4>{{ product.name }}</h4>
        <h5>{{ product.price }}</h5>
      </div>
      <h6>{{ product.tags }}</h6>
    </li>
  </ul>
</section>
