<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Microfrontends w/ JavaScript</title>
  <link rel="stylesheet" href="/css/styles.css" />
  <script src="/js/loadAppsIndex.js" async></script>
  <script src="/js/communication.js" async></script>
</head>

<body>
  <main>
    <p class="app-sources">http://localhost:7001</p>
    <div class="load-app" id="react1-app" data-url="react1">
      <!--#include virtual="/react1"-->
    </div>
    <p class="app-sources">http://localhost:7002</p>
    <div class="load-app" id="react2-app" data-url="react2">
      <!--#include virtual="/react2"-->
    </div>
    <p class="app-sources">http://localhost:7003</p>
    <div class="load-app" id="react3-app" data-url="react3">
      <!--#include virtual="/react3"-->
    </div>
    <p class="app-sources">http://localhost:7004</p>
    <div class="load-app" id="angular-app" data-url="angular">
      <!--#include virtual="/angular"-->
    </div>
    <p class="app-sources">http://localhost:7005</p>
    <div class="load-app" id="angular2-app" data-url="angular2">
      <!--#include virtual="/angular2"-->
    </div>
  </main>


</body>

</html>