<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Microfrontends w/ JavaScript</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <main>
      <div class="load-app" data-url="react1">
        <!--#include virtual="/react1"-->
      </div>
      <div class="load-app" data-url="react2">
        <!--#include virtual="/react2"-->
      </div>
      <div class="load-app" data-url="react3">
        <!--#include virtual="/react3"-->
      </div>
    </main>

    <script src="/js/loadAppsIndex.js"></script>
  </body>
</html>
