#input {
  outline: none;
  border: none;
  border-bottom: 1px solid lightgray;
  width: calc(400px + 5vw);
  text-align: center;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  margin-bottom: 10px;
}

@media screen and (max-width: 500px) {
  #input {
    width: 300px;
  }
}

#input:focus {
  border-bottom: 2px solid #42b983;
}

ul {
  list-style-type: none;
  padding: 0;
}
