nav {
  padding: 2vh 0 2vh 0;
  border: 1px solid lightgray;
}

ul {
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  list-style-type: none;
}

.navlink {
  color: black;
  text-decoration: none;
}

.navlink-active {
  font-weight: bold;
}
